/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */

select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */
@font-face {
  font-family: "Brown";
  src: url("/fonts/Brown-Regular.eot");
  src: url("/fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Brown-Regular.woff2") format("woff2"), url("/fonts/Brown-Regular.woff") format("woff"), url("/fonts/Brown-Regular.svg#Brown-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Brown";
  src: url("/fonts/Brown-Light.eot");
  src: url("/fonts/Brown-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Brown-Light.woff2") format("woff2"), url("/fonts/Brown-Light.woff") format("woff"), url("/fonts/Brown-Light.svg#Brown-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Brown";
  src: url("/fonts/Brown-Bold.eot");
  src: url("/fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Brown-Bold.woff2") format("woff2"), url("/fonts/Brown-Bold.woff") format("woff"), url("/fonts/Brown-Bold.svg#Brown-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Freight Display W01 Bold";
  src: url("/fonts/FreightDisplayW01-Bold.eot");
  src: url("/fonts/FreightDisplayW01-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/FreightDisplayW01-Bold.woff2") format("woff2"), url("/fonts/FreightDisplayW01-Bold.woff") format("woff"), url("/fonts/FreightDisplayW01-Bold.svg#FreightDisplayW01-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Selina W08 Calligraphic";
  src: url("/fonts/SelinaW08-Calligraphic.eot");
  src: url("/fonts/SelinaW08-Calligraphic.eot?#iefix") format("embedded-opentype"), url("/fonts/SelinaW08-Calligraphic.woff2") format("woff2"), url("/fonts/SelinaW08-Calligraphic.woff") format("woff"), url("/fonts/SelinaW08-Calligraphic.svg#SelinaW08-Calligraphic") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Calluna Sans W01 Regular";
  src: url("/fonts/CallunaSansW01-Regular.eot");
  src: url("/fonts/CallunaSansW01-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/CallunaSansW01-Regular.woff2") format("woff2"), url("/fonts/CallunaSansW01-Regular.woff") format("woff"), url("/fonts/CallunaSansW01-Regular.svg#CallunaSansW01-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E36E;
}
body {
  min-width: 320px;
  font-family: "Brown", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
body.locked {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.button-link {
  transition: all 0.3s;
  display: inline-block;
  padding: 10px;
  font-family: "Brown", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #000;
}
.button-link--type-2 {
  letter-spacing: 2px;
}
.button-link:hover {
  color: #F3C093;
}

.container {
  box-sizing: content-box;
  max-width: 1024px;
  padding: 0 30px;
  margin: 0 auto;
}
.container--wide {
  max-width: none;
}

.h1 {
  font-family: "Freight Display W01 Bold", sans-serif;
  font-size: 54px;
}

.h2 {
  font-family: "Freight Display W01 Bold", sans-serif;
  font-size: 40px;
  line-height: 1.13;
}

.h3 {
  font-family: "Freight Display W01 Bold", sans-serif;
  font-size: 32px;
  line-height: 1.06;
}

.h4 {
  font-family: "Selina W08 Calligraphic", sans-serif;
  font-size: 28px;
}

a, button {
  transition: all 0.3s;
}

a:hover {
  color: #f3c093;
}

@media (min-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .h2 {
    font-size: 46px;
  }

  .h3 {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
  .container--wide {
    max-width: 1280px;
  }
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 32px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 32px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* iCheck plugin Minimal skin, grey
----------------------------------- */
.icheckbox_minimal-grey,
.iradio_minimal-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/img/icheck/minimal/grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal-grey {
  background-position: 0 0;
}

.icheckbox_minimal-grey.hover {
  background-position: -20px 0;
}

.icheckbox_minimal-grey.checked {
  background-position: -40px 0;
}

.icheckbox_minimal-grey.disabled {
  background-position: -60px 0;
  cursor: default;
}

.icheckbox_minimal-grey.checked.disabled {
  background-position: -80px 0;
}

.iradio_minimal-grey {
  background-position: -100px 0;
}

.iradio_minimal-grey.hover {
  background-position: -120px 0;
}

.iradio_minimal-grey.checked {
  background-position: -140px 0;
}

.iradio_minimal-grey.disabled {
  background-position: -160px 0;
  cursor: default;
}

.iradio_minimal-grey.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_minimal-grey,
.iradio_minimal-grey {
    background-image: url(/img/icheck/minimal/grey@2x.png);
    background-size: 200px 20px;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.header {
  position: relative;
  background: url("/img/headers/1.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.header::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}
.header__inner {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 300px;
}
.header__topbar {
  padding-top: 20px;
  display: flex;
  margin: 0 -30px;
  padding-right: 15px;
  padding-left: 15px;
}
.header__topbar__left {
  flex: 1 0 30%;
  padding-right: 10px;
}
.header__topbar__right {
  flex: 1 0 30%;
  padding-left: 10px;
  text-align: right;
}
.header__topbar__center {
  position: relative;
  top: -10px;
  width: 33.33%;
  max-width: 160px;
  text-align: center;
}
.header__topbar.is-active {
  background: #fff;
}
.header__topbar.is-active .header__logo,
.header__topbar.is-active .nav-main--icons i {
  filter: invert(1) !important;
}
.header__logo {
  width: 100%;
  max-height: 40px;
}
.header__h1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

@media (min-width: 768px) {
  .header__inner {
    height: 350px;
  }
  .header__topbar {
    padding-top: 30px;
    margin: 0 -15px;
  }
  .header__topbar__center {
    top: -20px;
    width: 20%;
  }
  .header__burger {
    display: none;
  }
  .header__logo {
    max-height: none;
  }
}
@media (min-width: 1200px) {
  .header__topbar {
    padding-top: 40px;
  }
}
.footer {
  background: linear-gradient(90deg, #FEFEC9 0%, #B3DBEF 100%);
  font-size: 18px;
}
.footer__logo {
  margin-bottom: 45px;
}
.footer__links {
  margin-top: 22px;
}
.footer__links div {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.33;
}
.footer__links li {
  margin-top: 12px;
  line-height: 1.77;
}
.footer__links--social {
  white-space: nowrap;
}
.footer__links--social .icon {
  width: 30px;
  display: inline-block;
  font-size: 24px;
  position: relative;
  top: 3px;
}
.footer__links--social .icon-envelope-o,
.footer__links--social .icon-checkmark {
  font-size: 22px;
}
.footer small {
  display: block;
  padding: 55px 0;
  margin: 0 -15px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 50px;
    font-size: 16px;
  }
  .footer__menu {
    display: flex;
  }
  .footer__logo {
    flex-grow: 1;
    padding-right: 40px;
  }
  .footer__links {
    flex-basis: 240px;
    padding-left: 40px;
  }
  .footer small {
    margin: 0;
    font-size: 16px;
  }
}
.form__check {
  display: block;
  margin-top: 17px;
  font-family: "Calluna Sans W01 Regular", sans-serif;
  font-size: 17px;
  line-height: 1.2;
}
.form__check:first-child {
  margin-top: 0;
}
.form__check span {
  position: relative;
  top: 1px;
  margin-left: 3px;
}
.form__check--has-info {
  position: relative;
  padding-right: 30px;
}

.article h3 {
  margin-bottom: 27px;
  font-family: "Selina W08 Calligraphic", sans-serif;
  font-size: 25px;
  line-height: 1.26;
}
.article h4 {
  margin-bottom: 23px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.87;
}
.article p {
  margin: 20px 0;
  font-size: 19px;
  line-height: 1.68;
}
.article img {
  margin: 20px 0;
  max-width: 100%;
}

@media (min-width: 768px) {
  .article p {
    font-size: 18px;
  }
}
.choosing {
  padding: 50px 0;
  background: linear-gradient(90deg, rgba(22, 160, 133, 0.1) 0%, rgba(244, 208, 63, 0.1) 100%);
}
.choosing__h1 {
  text-align: center;
}
.choosing__h2 {
  text-align: center;
  margin-top: 60px;
}
.choosing__link {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}
.choosing__item {
  margin-bottom: 15px;
}
.choosing__item:last-child img {
  margin: 35px 0;
}
.choosing__image {
  display: flex;
  justify-content: center;
  height: 180px;
}
.choosing__desc {
  padding: 0 60px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .choosing {
    padding: 80px 0;
  }
  .choosing__list {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
  }
  .choosing__item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
.subscribe {
  padding: 50px 0;
  background: linear-gradient(90deg, rgba(247, 238, 30, 0.3) 0%, rgba(114, 198, 239, 0.3) 50%, rgba(0, 166, 81, 0.3) 100%);
}
.subscribe__h1 {
  text-align: center;
  color: #3E3E3E;
}
.subscribe__form {
  display: flex;
  border-bottom: 2px solid #000;
  margin-top: 35px;
}
.subscribe__input {
  flex-grow: 1;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.subscribe__button {
  text-transform: uppercase;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .subscribe {
    padding: 95px 0;
  }
  .subscribe__form {
    margin: 55px auto 0 auto;
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .subscribe {
    padding: 115px 0;
  }
}
.products {
  padding: 40px 0;
}
.products__filter {
  text-align: center;
  margin-bottom: 22px;
}
.products__list {
  max-width: 350px;
  margin: 0 auto;
  margin-top: -35px;
}
.products__col {
  margin-top: 35px;
}
.products__item {
  position: relative;
  border: 1px solid #b0b0b0;
}
.products__item:before, .products__item:after {
  content: " ";
  transition: 0.3s all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
.products__item:before {
  background: #000;
}
.products__item:after {
  content: "SEE OPTIONS";
  padding-top: 200px;
  text-align: center;
  color: #fff;
}
.products__item:hover:before {
  visibility: visible;
  opacity: 0.5;
}
.products__item:hover:after {
  visibility: visible;
  opacity: 1;
}
.products__item:hover .products__like .icomoon-heart-o {
  filter: invert(1) !important;
  opacity: 1;
}
.products__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.products__like {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  padding: 33px 0;
  font-size: 20px;
}
.products__like .icomoon-heart-o {
  opacity: 0.5;
}
.products__like .icomoon-heart {
  display: none;
  color: #F3C093;
}
.products__like.is-active .icomoon-heart-o {
  display: none;
}
.products__like.is-active .icomoon-heart {
  display: inline;
}
.products__image {
  padding: 40px 0;
  height: 365px;
  text-align: center;
}
.products__image img {
  max-width: 100%;
  max-height: 100%;
}
.products__footer {
  text-align: center;
  background: rgba(243, 192, 147, 0.22);
  padding: 23px 0;
}
.products__name {
  text-transform: uppercase;
  font-family: "Calluna Sans W01 Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.products__icons {
  margin-top: 30px;
  min-height: 20px;
  font-size: 0;
}
.products__icons i {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
  margin: 0 7px;
}
.products__icon-air {
  background: url("/img/svg-icons/air.svg") no-repeat;
}
.products__icon-glasses {
  background: url("/img/svg-icons/glasses.svg") no-repeat;
}
.products__icon-moon {
  background: url("/img/svg-icons/moon.svg") no-repeat;
}
.products__icon-bacteria {
  background: url("/img/svg-icons/bacteria.svg") no-repeat;
}
.products__icon-footprint {
  background: url("/img/svg-icons/footprint.svg") no-repeat;
}
.products__icon-nasa {
  background: url("/img/svg-icons/nasa.svg") no-repeat;
}
.products__icon-plain {
  background: url("/img/svg-icons/plain.svg") no-repeat;
}

@media (min-width: 768px) {
  .products {
    padding: 65px 0;
  }
  .products__filter {
    display: none;
  }
  .products__inner {
    display: flex;
  }
  .products__col-side {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 15px;
  }
  .products__col-main {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 15px;
  }
  .products__list {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    margin-right: -15px;
    margin-left: -15px;
  }
  .products__col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .products__col-side {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .products__col-main {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .products__col {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
.filter__close {
  display: none;
  position: absolute;
  right: 10px;
  top: 23px;
  font-size: 26px;
}
.filter__label {
  display: flex;
  margin-left: -15px;
  padding-left: 15px;
  background: #000;
  color: #fff;
}
.filter__label__title {
  padding: 16px 10px;
  text-transform: uppercase;
  font-weight: 400;
  flex-grow: 1;
  letter-spacing: 1px;
}
.filter__label__reset {
  padding: 0 20px;
  font-family: "Calluna Sans W01 Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  color: #fff;
}
.filter__label__reset:hover {
  background: #f3c093;
}
.filter__search {
  display: flex;
  border-bottom: 1px solid #000;
  margin-top: 20px;
}
.filter__search__input {
  flex-grow: 1;
  text-transform: uppercase;
  padding: 11px 16px;
  font-size: 18px;
  font-weight: 400;
}
.filter__search__button {
  padding: 0 5px;
  font-size: 17px;
  opacity: 0.5;
}
.filter__group {
  margin-top: 70px;
}
.filter__group:first-child {
  margin-top: 0;
}
.filter__header {
  position: relative;
  border-bottom: 1px solid #B0B0B0;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-bottom: 30px;
}
.filter__title {
  text-transform: uppercase;
  font-weight: 700;
}
.filter__info {
  padding: 7px;
  position: absolute;
  top: -3px;
  right: -5px;
  line-height: 0;
}
.filter__info:hover {
  color: #F3C093 !important;
}
.filter__info--for-header {
  top: -5px;
}
.filter__control {
  display: none;
}

@media (min-width: 1310px) {
  .filter__label {
    padding-left: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .filter__crop {
    height: auto !important;
  }
}
@media (max-width: 767.98px) {
  .filter__overlay {
    visibility: hidden;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
  }
  .filter__window {
    transform: translateX(-100%);
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 70px 0;
  }
  .filter__close {
    display: block;
  }
  .filter__label__title {
    padding: 13px 10px;
    font-size: 18px;
  }
  .filter__label__reset {
    display: none;
  }
  .filter__search {
    margin-top: 35px;
  }
  .filter__group {
    margin: 0;
  }
  .filter__header {
    transition: 0.3s all;
    padding: 22px 10px;
    border-color: #000;
    background: #f1f1f1;
    margin: 0;
    cursor: pointer;
  }
  .filter__header:before {
    content: " ";
    transition: 0.3s all;
    transform-origin: 10% 50%;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    border-left-color: #444;
  }
  .filter__header:hover, .filter__header.opened {
    background: #444;
    color: #fff;
  }
  .filter__header:hover:before, .filter__header.opened:before {
    border-left-color: #fff;
  }
  .filter__header:hover .filter__info--for-header, .filter__header.opened .filter__info--for-header {
    color: #fff;
  }
  .filter__header.opened:before {
    transform: rotate(90deg);
  }
  .filter__title {
    font-size: 18px;
    font-weight: 400;
  }
  .filter__crop {
    transition: 0.3s all;
    overflow: hidden;
    height: 0;
  }
  .filter__crop.opened {
    height: auto !important;
  }
  .filter__list {
    padding: 35px 20px;
  }
  .filter__info--for-header {
    right: 50px;
    top: 16px;
  }
  .filter__control {
    transform: translateX(-100%);
    display: flex;
    position: fixed;
    z-index: 202;
    width: 80%;
    bottom: 0;
    left: 0;
  }
  .filter__reset, .filter__apply {
    flex: 0 0 50%;
    text-transform: uppercase;
    text-align: center;
    font-family: "Calluna Sans W01 Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    height: 46px;
  }
  .filter__reset {
    background: #000;
    color: #fff;
  }
  .filter__reset:hover {
    box-shadow: inset 0 0 0 1px #000;
    background: #fff;
    color: #000;
  }
  .filter__apply {
    background: #f3c093;
  }
  .filter__apply:hover {
    box-shadow: inset 0 0 0 2px #f3c093;
    background: #fff;
    color: #000;
  }
  .filter.animated .filter__overlay,
.filter.animated .filter__window,
.filter.animated .filter__control {
    transition: 0.3s all;
  }
  .filter.opened .filter__overlay {
    visibility: visible;
    opacity: 0.3;
  }
  .filter.opened .filter__window,
.filter.opened .filter__control {
    transform: translateX(0);
  }
}
.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 300;
  padding: 10px;
}
.popup__center {
  position: relative;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #fff linear-gradient(229.74deg, rgba(255, 117, 195, 0.07) 0%, rgba(255, 166, 71, 0.07) 20%, rgba(255, 232, 63, 0.07) 40%, rgba(159, 255, 91, 0.07) 60%, rgba(112, 226, 255, 0.07) 80%, rgba(205, 147, 255, 0.07) 100%);
}
.popup__spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  transform: scale(0.8);
  opacity: 0.8;
}
.popup__close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 26px;
}
.popup__window {
  padding: 50px 30px;
  height: 100%;
  overflow: auto;
}
.popup.loading .popup__spinner {
  display: block;
}
.popup.active {
  display: block;
}

@media (min-width: 768px) {
  .popup__window {
    padding: 60px;
  }
}
.nav-side {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 60px;
  left: 0;
  background: #fff;
  padding: 0 10px;
  border-top: 1px solid #332933;
  display: none;
}
.nav-side > ul > li {
  border-bottom: 1px solid #332933;
}
.nav-side a {
  display: block;
  padding: 22px 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.nav-side a:hover {
  color: #f3c093;
}
.nav-side ul ul {
  display: none;
  border-top: 1px solid #332933;
  background: #515151;
}
.nav-side ul ul li {
  border-bottom: 1px solid #737373;
}
.nav-side ul ul li:last-child {
  border-bottom: 0;
}
.nav-side ul ul a {
  font-size: 18px;
  color: #fff;
}
.nav-side ul ul a:hover {
  background: #fff;
}
.nav-side__item--has-sublist > a {
  position: relative;
}
.nav-side__item--has-sublist > a:before {
  content: " ";
  transition: 0.3s border-color;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2px;
  border-width: 4px;
  border-color: transparent;
  border-style: solid;
  border-top-color: #333;
}
.nav-side__item--has-sublist:hover > a:before {
  margin-top: -6px;
  border-top-color: #f3c093;
  transform: scale(1, -1);
}
.nav-side__item--has-sublist:hover ul {
  display: block;
}
.nav-side.is-active {
  display: block;
}

.nav-main {
  display: inline-block;
}
.nav-main > li {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 28px;
}
.nav-main > li:hover .nav-main__sublist {
  visibility: visible;
}
.nav-main > li:hover .nav-main__sublist ul {
  top: 0;
  opacity: 1;
}
.nav-main a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.nav-main a:hover {
  color: #F3C093;
}
.nav-main--left {
  display: none;
}
.nav-main--right {
  display: none;
  text-align: right;
}
.nav-main--right li {
  margin-left: 28px;
  margin-right: 0;
}
.nav-main--icons {
  text-align: right;
}
.nav-main--icons li {
  margin-left: 28px;
  margin-right: 0;
}
.nav-main--icons li:not(:last-child) {
  display: none;
}
.nav-main__sublist {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  top: 100%;
  min-width: 250px;
  left: 0;
  padding-top: 7px;
}
.nav-main__sublist ul {
  position: relative;
  top: 10px;
  transition: 0.3s all;
  background: #515151;
  opacity: 0;
}
.nav-main__sublist a {
  display: block;
  padding: 20px 10px;
  font-size: 18px;
}
.nav-main__sublist a:hover {
  background: #fff;
}
.nav-main__cart {
  position: relative;
  margin-right: 10px !important;
}
.nav-main__cart__count {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ec6342;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}

@media (min-width: 768px) {
  .nav-main--left, .nav-main--right {
    display: inline-block;
  }
  .nav-main--icons li:not(:last-child) {
    display: inline-block;
  }
}
.nav-pager__count {
  padding-bottom: 8px;
  text-align: right;
  font-size: 15px;
}
.nav-pager ul {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
}
.nav-pager li {
  margin-left: 5px;
}
.nav-pager li.is-active {
  font-weight: 700;
}
.nav-pager a {
  display: inline-block;
  padding: 10px 5px;
}
