.choosing {
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(22, 160, 133, 0.1) 0%, rgba(244, 208, 63, 0.1) 100%);

    &__h1 {
        text-align: center;
    }

    &__h2 {
        text-align: center;
        margin-top: 60px;
    }

    &__link {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 50px;
        
    }

    &__item {
        margin-bottom: 15px;

        &:last-child img {
            margin: 35px 0;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        height: 180px;
    }

    &__desc {
        padding: 0 60px;
        font-size: 17px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        margin-top: 20px;
    }
    
}

@media  (min-width: 768px) {
    .choosing {
        padding: 80px 0;

        &__list {
            display: flex;
            max-width: 1060px;
            margin: 0 auto;
        }

        &__item {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }
}