.light {
    max-width: 940px;
    margin: 0 auto;
    background: linear-gradient(90deg, #f9e53421 0%, #ffb16926 100%);

    &__center {
        position: relative;
        padding: 35px 0;
        max-width: 700px;
        margin: 0 auto;
    }

    &__title-1 {
        margin-bottom: 20px;
        margin-top: -20px;
        font-family: "Selina", sans-serif;
        font-size: 30px;
        line-height: 1.1;
    }

    &__title-2 {
        margin-bottom: 28px;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.1;
    }

    &__link {
        font-family: "Selina", sans-serif;
        font-size: 20px;
        text-decoration: underline;
        letter-spacing: 1px;
        line-height: 1.1;
    }

    &__image {
        width: 95px;
        position: absolute;
        top: -45px;
        right: 0;
    }
}

@media (min-width: 768px) {
    .light {
        margin-top: 55px;
    }
}
