.origin-map {
    margin-top: 45px;
    margin-bottom: 15px;

    &__title-2 {
        margin-bottom: 20px;
        font-family: "Selina", sans-serif;
        font-size: 22px;
        line-height: 1.4;
        text-align: center;
    }

    &__image {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .origin-map {
        margin-bottom: 45px;

        &__image {
            img {
                width: 55%;
            }
        }
    }
}
