.plant-card {
    &__col-desc {
        display: flex;
        flex-direction: column;
    }

    &__slides {
        &__item {
            display: none;

            &:first-child,
            &.lslide {
                display: block;
            }
        }
    }

    &__about-pics {
        max-width: 380px;
        margin: 16px auto 0 auto;
        font-family: "Selina";
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    &__like {
        display: none;
        text-align: center;

        &__button {
            font-size: 18px;
            font-weight: 400;

            i {
                margin-left: 12px;
                position: relative;
                top: 0.15em;
            }
        }
    }

    &__title {
        padding: 30px 0;
        font-family: "Freight Display Bold";
        font-size: 28px;
        line-height: 1.28;

        &__like {
            margin-left: 10px;
            font-size: 24px;
        }
    }

    &__desc {
        display: none;
    }

    &__amazon {
        display: flex;
        align-items: center;
        order: 10;
        margin: 40px 0;

        &__icon {
            flex: 0 0 50px;
            margin-right: 10px;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .plant-card {
        .lSPager {
            margin-top: 15px !important;
            text-align: center;
            font-size: 0;

            li {
                float: none;
                display: inline-block;
                margin: 0 6px;
                width: 10px !important;
                height: 10px !important;
                padding-left: 10px;
                overflow: hidden;
                background: #000;
                border-radius: 50%;
                opacity: 0.2;

                &.active {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .plant-card {
        position: relative;
        margin-top: 5px;

        &:before {
            @include gradient-1;
            content: " ";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 50%;
            height: 200%;
        }

        &__row {
            position: relative;
            display: flex;
            margin: 0 -15px;
        }

        &__col-images {
            margin-top: 20px;
            flex: 0 0 50%;
            max-width: 50%;
        }

        &__like {
            display: block;
            margin-top: 25px;
        }

        &__col-desc {
            display: block;
            padding: 0 15px 60px 40px;
            flex: 0 0 50%;
            max-width: 50%;
        }

        &__info {
            padding: 7px;
            line-height: 0;
        }

        &__title {
            padding: 0;
            font-size: 36px;

            &__like {
                display: none;
            }
        }

        &__desc {
            display: block;
            margin-top: 3px;
            color: #5b5b5b;
        }

        &__amazon {
            margin: 28px 0;

            &__icon {
                flex: 0 0 30px;
            }

            &__text {
                color: #5b5b5b;
            }
        }

        .lSPager {
            margin-top: 10px !important;
            text-align: center;
            font-size: 0;

            li {
                float: none;
                display: inline-block;
                width: 30px !important;
                height: 30px !important;
                border-radius: 0 !important;
                margin: 0 5px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .plant-card {
        .lSPager {
            li {
                width: 100px !important;
                height: 100px !important;
            }
        }
    }
}

@media (min-width: 1200px) {
    .plant-card {
        &__col-images {
            padding: 0 40px;
        }
    }
}
