.quote {
    margin: 50px 0;
    padding-top: 20px;
    background: url("/img/quote/bg.png") no-repeat 50% 0;
    background-size: 110px auto;

    &__text {
        font-family: "Selina", sans-serif;
        font-size: 20px;
        text-align: center;
        line-height: 1.9;
    }
}

@media (min-width: 768px) {
    .quote {
        margin: 60px 0;
        background-size: 150px auto;

        &__text {
            margin: 0 185px;
            font-size: 22px;
        }
    }
}
