
.select-size {
    margin-top: 15px;
    margin-bottom: 55px;

    &__title {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }

    &__info {
        vertical-align: text-bottom;
        margin-left: 8px;
    }

    &__link {
        display: none;
    }

    &__values {
        margin-top: 30px;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 8px;
            width: 60px;
            height: 60px;
            line-height: 55px;
            background: #128663;
            border-radius: 50%;
            font-size: 20px;
            font-weight: 700;
            color: #fff;

        }
    }


}

@media (min-width: 768px) {

    .select-size {

        &__body {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }

        &__desc {
            padding-left: 15px;
        }

        &__title {
            margin-bottom: 7px;
            font-size: 18px;
        }

        &__info {
            display: none;
        }
        
        &__link {
            display: inline;
            font-family: "Selina W08 Calligraphic", sans-serif;
            font-size: 18px;
        }

        &__values {
            margin: 0;

            li {
                width: 43px;
                height: 43px;
                line-height: 40px;
                margin-right: 0;
                margin-left: 16px;
            }
        }
    }
}