.subscribe {
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(247, 238, 30, 0.3) 0%, rgba(114, 198, 239, 0.3) 50%, rgba(0, 166, 81, 0.3) 100%);

    &__title-1 {
        text-align: center;
        color: #3E3E3E;
    }

    &__form {
        display: flex;
        border-bottom: 2px solid #000;
        margin-top: 35px;
    }

    &__input {
        flex-grow: 1;
        padding: 20px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
    }

    &__button {
        text-transform: uppercase;
        padding: 0 20px;
    }

}


@media  (min-width: 768px) {

    .subscribe {
        padding: 95px 0;

        &__form {
            margin: 55px auto 0 auto;
            max-width: 400px;
        }

    }


}


@media  (min-width: 1200px) {

    .subscribe {
        padding: 115px 0;
    }

}