@font-face {
    font-family: 'SelinaW08-Calligraphic';
    src: url('/fonts/SelinaW08-Calligraphic.woff2') format('woff2'),
        url('/fonts/SelinaW08-Calligraphic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightDisplayW01';
    src: url('/fonts/FreightDisplayW01-Bold.woff2') format('woff2'),
        url('/fonts/FreightDisplayW01-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('/fonts/Brown-Regular.woff2') format('woff2'),
        url('/fonts/Brown-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('/fonts/Brown-Bold.woff2') format('woff2'),
        url('/fonts/Brown-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('/fonts/Brown-Light.woff2') format('woff2'),
        url('/fonts/Brown-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}